<section class="top-content">

  <div class="top-content-box">
    <h1 class="wel">
      welcome to
    </h1>
    <h1 class="glyphicon glyphicon-book bo"><strong>Bookers!!</strong>
    </h1>
    <p>In<span class="glyphicon glyphicon-book"><strong>Bookers,</strong></span></p>
  </div>
</section>
