<!-- userの詳細ページ -->
<div class="content-box row">
  <%= render partial: 'users/list', locals: {user: @user, book: @book} %>

  <div class="book-box col-md-8 table-responsive">
    <h1>Books</h1>
    <table class="table">
        <tr>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      <% @books.each do |f| %>
        <tr>
          <% if f.user == @user %>
          <td><%= link_to f.title, book_path(f.id) %></td>
          <td><%= f.body %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
